{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "plugins": [
    "jest"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "globals":{
    "__DEV__": true,
    "Promise": true
  },
  "rules": {
    "semi": 2,
    "indent": ["error", 2],
    "key-spacing": 0,
    "max-len": [2, 120, 2],
    "camelcase": 0,
    "object-curly-spacing": [2, "always"],
    "no-console": "warn",
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error"
  }
}